{% extends 'flatpages/default.html' %}

{% load static %}

{% block content %}
<div class="pages-container">
	<div class="gallery">
		<div class="gallery-photo-1">
			<img src="{% static '/website/images/handler-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-2">
			<img src="{% static '/website/images/cat1-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-3">
			<img src="{% static '/website/images/cat2-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-4">
			<img src="{% static '/website/images/dog1-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-5">
			<img src="{% static '/website/images/yorik-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-6">
			<img src="{% static '/website/images/girl-and-dog-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-7">
			<img src="{% static '/website/images/puppy-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-8">
			<img src="{% static '/website/images/chicken-miniature.jpg' %}">
		</div>
		<div class="gallery-photo-9">
			<img src="{% static '/website/images/mouse-miniature.jpg' %}">
		</div>
	</div>
</div>
{% endblock content %}